.auction-status-box {
  width: 320px;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 12px 20px 8px;
  margin: 350px auto 20px; 
}


.auction-status-content {
  display: flex;
  justify-content: center; 
  gap: 40px; 
  margin-bottom: 10px;
}

.status-card {
  background-color: #ffffff;
  border-radius: 20px;
  width: 115px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-title {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 4px;
}

.status-value {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
}

.status-value.time {
  color: #ff2727;
  font-size: 15px;
}

.status-caption {
  font-size: 13px;
  color: #828282;
  text-align: center;
  margin: 0;
}